<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
	<previewjs>PreviewHASTutorial</previewjs>
	<preicon/>
	<cpname/>
	<cplogo/>
	<cpauthjs/>
	<ver>1.0.2</ver>
	<mgrver/>
	<fullwidget>y</fullwidget>
	<srcctl>n</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>n</audiomute>
	<videomute>n</videomute>
	<dcont>y</dcont>
	<type>user</type>
	<widgetname>Local TV</widgetname>
	<description>Lokal Fernsehen</description>
	<width>960</width>
	<height>540</height>
	<author>
		<name>Koni</name>
		<email></email>
		<link>http://localtv.koni.mobi</link>
		<organization/>
	</author>
<category>Videos</category>
<autoUpdate>y</autoUpdate>
<BigThumbIcon>icon/localtv-115.png</BigThumbIcon>
<ListIcon>icon/localtv-85.png</ListIcon>
<BigListIcon>icon/localtv-95.png</BigListIcon>
<ThumbIcon>icon/localtv-106.png</ThumbIcon>
</widget>